<div class="container row justify-content-center mx-auto py-5">

    <div class="card text-center col-5">
        <div class="card-body">
            {{#each workouts}}
                {{this}}
            {{/each}}
        </div>

    </div>

</div>