<div class="container row justify-content-center mx-auto py-5">

    <div class="card text-center col-5">
        <div class="card-body">
            <h5 class="card-title">Last workout</h5>
            <p class="card-text">Last workout details</p>
            <a href="./new" class="btn btn-primary">New Workout</a>
            <a href="./api/workoutPlans" class="btn btn-success">View Workouts</a>
        </div>
    </div>

</div>