<div class="container row justify-content-center mx-auto py-5">

    <div class="card text-center col-5">
        <div class="card-body">
            <h5 class="card-title">New Workout</h5>
            <a id = "complete" href="./" class="btn btn-primary">Complete Workout</a>
            <a id = "add-exercise" href="./new" class="btn btn-warning">Add another exercise</a>
        </div>
    </div>

</div>