<div class="container row justify-content-center mx-auto py-5">

    <div class="card text-center col-5">
        <div class="card-body">
            <h5 class="card-title">New Workout</h5>

            <div class="form-group col-8 justify-content-center mx-auto">
                <label for="exampleFormControlSelect1">Type of workout</label>
                <select id="select-type" class="form-control">
                    <option>------</option>
                    <option>Cardio</option>
                    <option>Resistance</option>
                </select>
            </div>

            <div id="exercise-params" class="form-group col-10 mx-auto my-3">

                <div class="exercise-param">
                    <label for="exercise-name">Exercise Name</label>
                    <input id="exercise-name" class="form-control" aria-describedby="nameHelp"
                        placeholder="Name of exercise">
                    <small id="nameHelp" class="form-text text-muted">An example could be bench press.</small>
                </div>

            </div>
            <a id="finished-workout" href="./" class="btn btn-primary complete">Complete Workout</a>
            <a id="add-another-exercise" href="./new" class="btn btn-warning complete">Add another exercise</a>
        </div>
    </div>

</div>